body {
  margin: 0;

  height: 100vh;
}

main {
  height: 100vh;
}

.graphiql_wrapper {
  height: 100vh;
}

.wrapper-mainql {
  height: 100vh;
}

​ .graphiql-container {
  height: 100vh;
}

​ .logo {
  height: 50px;
}

.endpoint-row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.gridc {
  display: flex;
  flex-direction: row;
}
.grid {
  width: 58%;
  margin-left: 1%;
  margin-right: 1%;
  box-shadow: 1px 1px 1px #fff;
  border-radius: 3px;
}
